body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#f6f2f2 ;
    color: rgb(10, 1, 33);
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.search-box {
    margin-bottom: 30px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: orange;
    color: white;
    cursor: pointer;
}

button:hover {
    background: darkorange;
}

.city-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.card {
    background: rgba(2, 1, 14, 0.15);
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: rgba(255,255,255,0.25);
}